Body {
    background-color:rgb(0, 0, 0);
}
h1 {
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(40, 173, 10);
    position: relative;
    right: -10px;
}
h3 {
    color: white;
    position: relative;
    right: -10px;
}
pre {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}
img {
    position: absolute;
    top: 50px;
    bottom: 0px;
    right: 100px;
    width: 100px;
}
b {
    color: rgb(40, 173, 10);
}